//#buffer {
  font-family: "Courier New", Courier, monospace;
  background-color: #ffffff;
  height: 50%;
  overflow: hidden;
  width: 80%;
  height: 33em;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  user-select: none;
}

.writeous-editor {
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.writeous-container {
  position: relative;
  top: -5em;
}

.writeous-container .row-content {
  white-space: pre;
}

.writeous-container .buffer-row {
  display: grid;
  height: 1em;
  line-height: 1em;
}
//.buffer-row::before {
  content: attr(data-line);
  position: relative;
  left: -1.5em;
  display: inline-block;
  width: 1.5em;
  color: #999;
  border-color: #fac;
  padding-right: 2em;
  height: 2em;
  font-size: 0.5em;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
}

.writeous-caret {
  animation: blinker 1s linear infinite;
  display: none;
  position: absolute;
  margin-left: 0.0em;
  margin-top: -0.2em;
  padding: 0;

  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.writeous>.scrollbar {
  height: 100%;
  width: 12px;
  border-radius: 2px;
  background-color: #dde;
  position: relative;
  float: right;
  padding: 2px;
  margin-right: 4px;
  box-sizing: border-box;
  user-select: none;
}

.writeous>.scrollbar>.knob {
  height: 13px;
  background-color: #aaa;
  border-radius: 2px;
  position: relative;
  top: 50px;
}

.writeous>.scrollbar>.knob:hover {
  background-color: #888;
}

.writeous>.scrollbar:active>.knob {
  background-color: #666;
}

.z-bold {
  font-weight: bold;
}

.z-italic {
  font-style: italic;
}

.z-selected {
  background-color: #99ddff;
}

.p-center {
  justify-self: center;  
}

.p-right {
  justify-self: right;
}
